@import 'partials/variables';

html, body {
  font-family: $font3;
  font-size: 16px;
  letter-spacing: 0.02em;
  margin: 0;
  padding: 0;
  background-color:white; //#fffae1;
  font-weight: 300;
  height: 100%;
  color: $black;
}
h1,h2,h3,h4,h5,p{
	margin: 0px;
}
img{
	max-width: 100%;
	margin: 20px 0px;
}
pre{
	display: block;
    padding: 10px;
    font-family: $font2;
    font-size: 14px;
    
    word-break: break-all;
    word-wrap: break-word;
    color: $blue;
    background-color: $darkblue;
}
a{
	text-decoration: none;
	color: $blue;
	&:hover{
		color: $orange;
	}
}
.dontshow{
	display:none;
}
.btn1{
	background-color: inherit;
	outline: none;
	border: 1.5px solid $black;
	padding: 10px 20px;
	font-weight: 500;
	color: $black;
	border-radius: 4px;
	&:hover{
		border-color: $orange;
		color: $orange;
	}
}
.drawer-handle{
	display: none;
	span{
		position: absolute;
		cursor: pointer;
		height: 2px;
		width: 30px;
		background: $blue;
		position: absolute;
		display: block;
		content: '';
		top:0px;
		
		&:before,&:after{
			cursor: pointer;
			height: 2px;
			width: 30px;
			background: $blue;
			position: absolute;
			display: block;
			content: '';
			top:0px;
		}
		&:before{
			left:7px;
		}

	}

	position: fixed;
			left: 30px;
			top: 20px;
			z-index: 1001;
			width: 30px;
			height: 35px;
			cursor: pointer;
			
			span{
				-webkit-transition: all 0.2s ease;
				-moz-transition: all 0.2s ease;
				-ms-transition: all 0.2s ease;
				-o-transition: all 0.2s ease;
				transition: all 0.2s ease;
				&:after{
					-webkit-transition: all 0.2s ease;
					-moz-transition: all 0.2s ease;
					-ms-transition: all 0.2s ease;
					-o-transition: all 0.2s ease;
					transition: all 0.2s ease;
					top: 14px;
				}
				&:before{
					-webkit-transition: all 0.2s ease;
					-moz-transition: all 0.2s ease;
					-ms-transition: all 0.2s ease;
					-o-transition: all 0.2s ease;
					transition: all 0.2s ease;
					top:7px;
				}
			}
}
.drawer-handle.open{
			span{
				transform: translateX(7px);
				background: $white;
				&:before{
					transform: translateX(-14px);
					background: $white;
				}
				&:after{
					transform: translateX(0px);
					background: $white;
				}
			}
		}

.index{
	display: -webkit-flex;
	display: flex;
	min-height: 100%;
	.sidebar{
		position: relative;
		float: left;
		width: 22%;
		background-color: $darkblue;
		color: $white;

		.header{
			cursor: pointer;
			padding: 20px;
			background-color: $blue;
			font-size: 20px;
			font-weight: 300;
		}
		.topics{
			font-size: 18px;
			padding: 10px;
			margin-top: 10px;	
		}
		.contents{

			ul{
				font-size: 16px;
				margin:0px;
				padding: 10px 20px;
				width: 100%;
				&:hover{
					background-color: $blue;
					cursor: pointer;
				}

			}
			ul.isOpen{
				background-color: $orange;
			}
			li{
				font-family: $font2;
				list-style: none;
				font-size: 14px;
				padding-left: 20px;
				padding-top: 4px;
				padding-bottom: 4px;
				&:hover{
					background-color: orange;
				}
			}
		}
	}
	.main{
		position: relative;
		float: left;
		padding: 30px;
		padding-top: 50px !important;
		width: 78%;
		height: auto;
		.landing{
			margin-top: -20px;
			height: 100%;
			display: -webkit-flex;
			display: flex;
			-webkit-flex-direction: column;
    		flex-direction: column;
    		-webkit-justify-content: center;
    		justify-content: center;
    		h2{
    			font-family: $font2;
    			font-size: 18px;
    			font-weight: 400;
    			color: $blue;
    		}
    		h1{
    			font-family: $font2;
    			letter-spacing: 0.1em;
    			font-size: 18px;
    			margin-top: 20px;
    			font-weight: 400;
    			color: $orange;

    		}
    		.btn1{
    			font-family: $font2;
    			margin-top: 30px;
    			font-size: 16px;
    			width: 150px;
    			color: white;
    			background-color: $blue;
    			border: none;
    			&:hover{
    				background-color: $orange;
    			}
    		}
		}
		.chapter{
			
			h1{
				font-weight: 300;
			}
			h2{
				margin-top: 20px;
				font-weight: 300;
			}
			p{
				
				margin-top: 20px;
			}
		}
	}
}
a.download{
	display: inline-block;
	position: relative;
	margin-top: 20px;
	text-decoration: none;
	font-family: $font2;
	font-size: 16px;
	color: white;
	background-color: $blue;
	border: none;
	&:hover{
		color: white;
		background-color: $orange;
	}
}

@media (max-width: 1100px){
	.drawer-handle{
		display: block;

	}
	.drawer-handle.open{
		left: 15px !important;
	}
	.sidebar{
		display: none;
		position: fixed !important;
		left: 0px !important;
		top: 0px !important;
		width: 30% !important;
		z-index: 1000;
		height: 100%;
		.header{
			div{
				padding-top:30px;
			}
		}
	}
	.sidebar.open{
		display: block;
	}
	.main{
		width: 100% !important;
	}
}
footer{
		text-align: left;
	    padding-bottom: 10px;
	    padding: 15px 20px;
	    background-color: firebrick;
	    color: $white;
	    a{
	    	color: $blue;
	    	&:hover{
	    		color: $orange;
	    		text-decoration: none;
	    	}
	    }
	}
@media (max-width: 800px){
	.sidebar{
		display: none;
		position: relative !important;
		left: 0px !important;
		top: 0px !important;
		width: 50% !important;
		z-index: 1000;
		height: auto;
	}
}
@media (max-width: 600px){
	.drawer-handle{
		top: 20px;
		left: 15px;
	}
	.main{
		padding: 15px !important;
	}
	.sidebar{
		display: none;
		position: absolute !important;
		left: 0px !important;
		top: 0px !important;
		width: 100% !important;
		z-index: 1000;
		min-height: 700px;
		height: auto;
	}
}