$blue : #0ba9f4;
$red : #d00000;
$darkblue : #010d2b;
$white : #fffae1;
$black : #050505;
$green : #bfff00;
$orange : orange;


$font1 : 'Inconsolata','consolas', monospace;
$font2 : 'consolas', monospace;
$font3 : 'Roboto', 'consolas';


